<div id="fondo" class="container" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="75">
  </div>
  <div fxFlex="20">
    <mat-card>
      <mat-card-header>
        <mat-card-title>EntreNos - Arte</mat-card-title>
        <mat-card-subtitle>
          Bienvenido, inicie sesión. 
          <br> ¿No tiene una cuenta? 
          <a href=".">Registrese</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field>
            <input matInput placeholder="Correo Electronico">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <input matInput placeholder="Contraseña">
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary">Ingresar</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
