<mat-card class="card">
  <mat-card-title >
    <div class="titulo">Bienvenido</div>
  </mat-card-title>
  <mat-card-subtitle>
    <div class="subtitulo">Ingrese los datos para crear su cuenta</div>
  </mat-card-subtitle>
  <mat-card-content>
    <div layout-padding layout-margin>
      <form name="registro" flex>
        <mat-form-field flex>
          <input matInput placeholder="Primer Nombre" />
        </mat-form-field>
        &nbsp;
        <mat-form-field flex>
          <input matInput placeholder="Segundo Nombre" />
        </mat-form-field>
      </form>
    </div>
    <div layout-padding layout-margin>
      <form name="registro" flex>
        <mat-form-field flex>
          <input matInput placeholder="Primer Apellido" />
        </mat-form-field>
        &nbsp;
        <mat-form-field flex class="">
          <input matInput placeholder="Segundo Apellido" />
        </mat-form-field>
      </form>
    </div>
    <div layout-padding layout-margin>
      <form name="registro" flex>
        <mat-form-field flex>
          <mat-label>Sexo</mat-label>
          <mat-select>
            <mat-option value="0">-</mat-option>
            <mat-option value="1">Femenino</mat-option>
            <mat-option value="2">Masculino</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
    <div layout-padding layout-margin>
      <form name="registro" flex class="formulario-full-width">
        <mat-form-field flex>
          <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </form>
    </div>
    <div layout-padding layout-margin>
      <form name="registro" flex>
            <button mat-raised-button color="primary">Registrar</button>
      </form>
    </div>
  </mat-card-content>
</mat-card>
